<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Attendance Page</title>

<style>
body{
    font-family: Arial;
    background:#f4f4f4;
    text-align:center;
}

table{
    margin:auto;
    border-collapse:collapse;
    width:60%;
    background:white;
}

th,td{
    padding:10px;
    border:1px solid #ddd;
}

th{
    background:#28a745;
    color:white;
}

button{
    padding:8px 15px;
    background:#28a745;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:#218838;
}
</style>

</head>
<body>

<h2>Member Attendance</h2>

<table>
<tr>
<th>Name</th>
<th>Mobile</th>
<th>Email</th>
<th>Address</th>
<th>Action</th>
</tr>

{% for p in y %}
<tr>
<td>{{p.1}}</td>
<td>{{p.2}}</td>
<td>{{p.4}}</td>
<td>{{p.5}}</td>

<td>
</td>

</tr>
{% endfor %}

</table>

<table>

<h2> Attendance Details</h2>

<table>
<tr>
<th>Date</th>
<th>Time</th>

</tr>

{% for p in i %}
<tr>

<td>{{p.4}}</td>
<td>{{p.5}}</td>

</tr>
    {% endfor %}
</table>
</body>
</html>